-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th{:class => ("hilite" unless params[:sort_by] != 'title')}
        = link_to "Movie Title", movies_path(sort_by: "title"), id: "title_header"
      %th Rating
      %th{:class => ("hilite" unless params[:sort_by] != 'release_date')}
        = link_to "Release Date", movies_path(sort_by: "release_date"), id: "release_date_header"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
